
**/.idea/

**/Cargo.lock

*.qmlproject.qtds
*.qmlproject.user
**/xcuserdata/

/test_output/
**/logs/

**/obj/
**/bin/
*.DotSettings.user
/ScenariumEditor.NET/CoreInterop/core_interop.dll

**/target/
**/cmake-build-*/
**/build/

