**/.DS_Store
**/._.DS_Store
/.claude/settings.local.json

**/.idea/
**/target/


/test_output/
/log/

/patch.diff
/style.toml
/config.toml
/perf.data
/perf.data.old
/flamegraph.svg
/trace.tracy
/profile.json.gz
/profile.json
