[submodule "quickbench"]
	path = quickbench
	url = git@github.com:xorza/quickbench.git
[submodule "imaginarium"]
	path = imaginarium
	url = git@github.com:xorza/Imaginarium.git
[submodule "palantir"]
	path = palantir
	url = git@github.com:xorza/palantir.git
[submodule "fits-well"]
	path = fits-well
	url = git@github.com:xorza/fits-well.git
