[workspace]
members = [
    "common",
    "graph",
    "editor"
]

resolver = "2"

[workspace.package]
edition = "2024"


[workspace.dependencies]
common = { path = "common" }
graph = { path = "graph" }
editor = { path = "editor" }

# wgpu version should be in sync with egui
wgpu = { version = "27.0", features = ["metal", "vulkan", "dx12"] }
eframe = { version = "0.33", default-features = false, features = ["default_fonts", "persistence", "wgpu", "wayland"] }
egui = { version = "0.33", default-features = false, features = ["default_fonts", "rayon", "serde"] }

imaginarium = { git = "https://github.com/xorza/imaginarium.git" }

serde = { version = "*", features = ["derive"] }
serde_yml = { version = "*" }
serde_json = { version = "*" }
uuid = { version = "*", features = ["v4", "serde"] }
anyhow = { version = "*" }
thiserror = { version = "*" }
bytemuck = { version = "*", features = ["derive"] }
pollster = { version = "*" }
num-traits = { version = "*" }
glam = { version = "*", features = ["serde"] }
strum = { version = "*" }
strum_macros = { version = "*" }
rand = { version = "*" }
tokio = { version = "*", features = ["full"] }
tracing = { version = "*" }
tracing-subscriber = { version = "*", features = ["env-filter", "fmt", "time"] }
tracing-appender = { version = "*" }
tracing-rolling-file = { version = "*", features = ["non-blocking"] }
dotenv = { version = "*" }
rayon = { version = "*" }
toml = { version = "*" }
hashbrown = { version = "*", features = ["serde"] }
bytes = { version = "*" }
lazy_static = { version = "*" }
mlua = { version = "*", features = ["serialize", "send", "anyhow", "async", "lua54", "vendored"] }
criterion = { version = "*" }
arc-swap = { version = "*" }
bumpalo = { version = "*", features = ["collections", "allocator-api2"] }
lz4_flex = { version = "*", features = ["std"] }
bincode = { version = "*", features = ["serde"] }
rfd = { version = "*" }
arc-swap  = { version="*" }


[profile.bench]
debug = true
strip = "none"
split-debuginfo = "unpacked"

[profile.release]
lto = true
strip = "symbols"
