[workspace]
members = [
    "common",
    "graph"
]

resolver = "2"


[workspace.dependencies]
common = { path = "common" }
graph = { path = "graph" }

imaginarium = { git = "https://github.com/xorza/imaginarium.git" }

serde = { version = "*", features = ["derive"] }
serde_yml = { version = "*" }
serde_json =  { version = "*" }
uuid = { version = "*", features = ["v4", "serde"] }
anyhow =  { version = "*" }
wgpu = { version = "*" }
bytemuck = { version = "*", features = ["derive"] }
pollster =  { version = "*" }
num-traits =  { version = "*" }
glam = { version = "*", features = ["serde"] }
strum =  { version = "*" }
strum_macros =  { version = "*" }
rand =  { version = "*" }
tokio = { version = "*", features = ["full"] }
tracing = { version = "*" }
tracing-subscriber = { version = "*", features = ["env-filter", "fmt", "time"] }
tracing-appender =  { version = "*" }
parking_lot =  { version = "*" }
hashbrown = { version = "*", features = ["serde"] }
bytes = { version = "*" }
lazy_static =  { version = "*" }
mlua = { version = "*", features = ["serialize", "send", "anyhow", "async", "lua54", "vendored"] }


[workspace.lints.rust]
unused_crate_dependencies = "allow"
dead_code = "allow"
