[package]
name = "lumos"
version.workspace = true
edition.workspace = true
description = ""

[features]
slow-tests = []

[dependencies]
common = { workspace = true }
imaginarium = { workspace = true }

fitsio = { workspace = true }
libraw-rs-sys = { workspace = true }

anyhow = { workspace = true }
thiserror = { workspace = true }
bytemuck = { workspace = true }
rayon = { workspace = true }
tracing = { workspace = true }
glam = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
tracing-subscriber = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
