[package]
name = "lumos"
version.workspace = true
edition.workspace = true
description = ""

[features]
slow-tests = []
bench = ["dep:criterion"]

[dependencies]
common = { workspace = true }
imaginarium = { workspace = true }

fitsio = { workspace = true }
libraw-rs-sys = { workspace = true }

anyhow = { workspace = true }
thiserror = { workspace = true }
bytemuck = { workspace = true }
rayon = { workspace = true }
tracing = { workspace = true }
glam = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
tracing-subscriber = { workspace = true }
memmap2 = { workspace = true }
sysinfo = { workspace = true }
criterion = { workspace = true, optional = true }
rustfft = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
nalgebra = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
image = { workspace = true }
imageproc = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
bzip2 = { workspace = true }
dirs = { workspace = true }
tempfile = { workspace = true }

[[bench]]
name = "demosaic_bayer"
harness = false
required-features = ["bench"]

[[bench]]
name = "demosaic_xtrans"
harness = false
required-features = ["bench"]

[[bench]]
name = "hot_pixels"
harness = false
required-features = ["bench"]

[[bench]]
name = "stack_mean"
harness = false
required-features = ["bench"]

[[bench]]
name = "stack_median"
harness = false
required-features = ["bench"]

[[bench]]
name = "stack_sigma_clipped"
harness = false
required-features = ["bench"]

[[bench]]
name = "math"
harness = false
required-features = ["bench"]

[[bench]]
name = "star_detection_background"
harness = false
required-features = ["bench"]

[[bench]]
name = "median_filter"
harness = false
required-features = ["bench"]

[[bench]]
name = "star_detection_centroid"
harness = false
required-features = ["bench"]

[[bench]]
name = "star_detection_convolution"
harness = false
required-features = ["bench"]

[[bench]]
name = "star_detection_cosmic_ray"
harness = false
required-features = ["bench"]

[[bench]]
name = "star_detection_deblend"
harness = false
required-features = ["bench"]

[[bench]]
name = "star_detection_detection"
harness = false
required-features = ["bench"]

[[bench]]
name = "registration"
harness = false
required-features = ["bench"]
