[package]
name = "lumos"
version.workspace = true
edition.workspace = true
description = ""

[features]
slow-tests = []
bench = ["dep:criterion"]

[dependencies]
common = { workspace = true }
imaginarium = { workspace = true }

fitsio = { workspace = true }
libraw-rs-sys = { workspace = true }

anyhow = { workspace = true }
thiserror = { workspace = true }
bytemuck = { workspace = true }
rayon = { workspace = true }
tracing = { workspace = true }
glam = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
tracing-subscriber = { workspace = true }
criterion = { workspace = true, optional = true }

[dev-dependencies]
criterion = { workspace = true }

[[bench]]
name = "demosaic"
harness = false
required-features = ["bench"]

[[bench]]
name = "xtrans"
harness = false
required-features = ["bench"]
