[package]
name = "lumos"
version.workspace = true
edition.workspace = true
description = ""

[features]
real-data = []

[lints]
workspace = true

[dependencies]
common = { workspace = true }
imaginarium = { workspace = true }

fitsio = { workspace = true }
libraw-rs-sys = { workspace = true }

anyhow = { workspace = true }
thiserror = { workspace = true }
bytemuck = { workspace = true }
rayon = { workspace = true }
tracing = { workspace = true }
glam = { workspace = true }
serde = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
tracing-subscriber = { workspace = true }
memmap2 = { workspace = true }
sysinfo = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
nalgebra = { workspace = true }
arrayvec = { workspace = true }
smallvec = { workspace = true }
parking_lot = { workspace = true }

[dev-dependencies]
bench = { workspace = true }
image = { workspace = true }
